.content
  .box
    if items
    .items
      each item in items
        if item.panic
          .item.red
            | #{item.number}
            .button.red.panic(data-id="#{item._id}") Panic
            a.button.green.gps(href="/map/#{item.number}##{item.number}" data-id="#{item._id}") GPS

        else
          .item
            | #{item.number}
            .button.red.panic(data-id="#{item._id}") Panic
            a.button.green.gps(href="/map/#{item.number}##{item.number}" data-id="#{item._id}") GPS
